#corpo{
	background-size: 1500px 800px;
	transition: 5s;
}

.form{
	padding: 7px 15px !important;
	width: inherit;
	border-radius: 0px !important;
	-webkit-box-shadow: inset 0 0px 0px #8f8f8f !important;
	box-shadow: inset 0 0px 0px #8f8f8f !important;
}

.form:focus{
	border-color: #FF6347;
}

.m-t-2{
	margin-top: 20px;
}

.painelCentral{
	background-color: white;
	width: 300px;
	height: 300px;
	border-radius: 5px;
	display: none;
	margin:0px auto;
	margin-top: 200px;
}

.buttonLogar{
	margin:0px auto;
	margin-top: 300px;
	padding: 20px 70px;
	background-color: #FF6347;
	width: 400px;
	height: 100px;
}

.labelButtonLogar a{
	font-size: 32px;
	color: white;
 }
 
 .labelButtonLogar a:hover{
	color: white;
	text-decoration: none;
	cursor: pointer;
 }

.painel{
	padding-top: 30px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: white;
	z-index: 1;
	visibility: visible;
}

.btnEntrar{
	background-color: #FF6347;
	color: white;
	width: inherit;
	height: 40px;
	border: none !important;
}

#labelHeader{
	color: #FF6340;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
}



