
.form, .form #inputNascimento_input{
	width: 100%;
	border-radius: 0px !important;
	-webkit-box-shadow: inset 0 0px 0px #8f8f8f !important;
	box-shadow: inset 0 0px 0px #8f8f8f !important;
}

.m-t-2{
	margin-top: 20px;
}

.form:focus, .form #inputNascimento_input:focus{
	border-color: #FF6347;
}

#corpo{
	background-size: 100% 200%;
	background-repeat: no-repeat;
}

.cabecalhoPrincipal{
	width: 100%;
	height: 150px;
	background-color: #FF6347;
	padding: 40px 40px;
}

.labelCabecalhoPrincipal{
	color: white;
	font-size: 50px;
	float: left;
}

.labelSairCabecalhoPrincipal{
	text-align: right;
}

.labelSairCabecalhoPrincipal a{
	color: white;
	font-size: 50px;
}

.corpoPrincipal{
	margin: 5% 30%;
}

.corpoPrincipal a{
	color: white;
	font-size: 150px;
}

@media 
only screen and (max-device-width : 1024px){
	
	.corpoPrincipal a{
		font-size: 100px;
	}
	#botao1, #botao2 {
		width: 150px;
		height: 150px;
		border-radius: 15px;
	}
}

@media 
only screen and (min-device-width : 450px),
only screen and (max-device-width : 700px){
	
	#corpo{
		background-size: 100% 300%;
		background-repeat: no-repeat;
	}
	
}

@media 
only screen and (max-device-width : 450px){
	
	#corpo{
		background-size: 100% 500%;
		background-repeat: no-repeat;
	}
}

#botao1 {
	float: left;
}

#botao2 {
	float: right;
	padding-left: 15px;
}

.backgroundBotoesPrincipal {
	padding-top: 10px;
	text-align:center;
	width: 200px;
	height: 200px;
	background-color: #FF6347;
	border-radius: 25px;
}

#modalCadastro .ui-helper-clearfix, #modalConsulta .ui-helper-clearfix, #modalDetalhes .ui-helper-clearfix{
	display: none;
}

.btnCadastrar{
	margin-left:10px !important;
	background: #FF6347 !important;
	font-weight: normal !important;
	color: white !important;
	width: 100px !important;
	height: 35px !important;
	border: none !important;
	border-radius: 0px !important;
	-webkit-box-shadow: inset 0 0px 0px #8f8f8f !important;
	box-shadow: inset 0 0px 0px #8f8f8f !important;
}

.ui-datepicker-header{
	background: #FF6347 !important;
	color: white !important;
	font-weight: normal !important;
}

.corpoModalConsulta th{
	background: #FF6347 !important;
	color: white !important;
	font-weight: normal !important;
	border: none !important;
}

.ui-datatable tbody td{
	border-color: white !important;
	text-align: center;
}

.corpoModalConsulta .ui-paginator{
	background: white !important;
	border-color: white !important;
}

.ui-paginator-pages  span{
	border: none !important;
	background: #FF6347 !important;
	color: white !important;
	font-weight: normal !important;
}

.headerModalDetalhes{
	font-size: 50px;
	text-align: center;
}

.ui-growl-item-container div{
	opacity: 1;
	background: black;
	color: white;
}

#message_container .ui-growl-image{
	display: none;
}

#message_container .ui-growl-title{
	margin-left: -35px;
}


